/* FILEPATH: /c:/Users/stami/Desktop/portfolio/my_portfolio/src/components/css/About.css */

/* Add a class to the element you want to animate */
.about-us
{
    text-align: center;
    color: aquamarine;
}

 