.container {
    animation: fadeIn 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
    width: 90%;
    height: 70vh;
    /* background-image: url('https://i.gifer.com/KEaF.gif'); */
    background-size: cover;
    background-position: center;
    border-radius: 5vh;
    position: relative;
    overflow: hidden;
    background-color: transparent; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.container {
    position: relative;
  }
  
  .custom-cursor {
    position: absolute;
    width: 20px; /* Adjust the width and height as needed */
    height: 20px;
    background-color: red; /* Customize the cursor color */
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999; /* Ensure it appears above other elements */
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease; /* Add a transition for a smoother effect */
  }
