@import "https://fonts.googleapis.com/css?family=Roboto+Mono:500";

html,
body {
    font-family: "Roboto Mono", monospace;
    background: #151515;
    height: 100%;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.text {
    font-size: 1.5rem;
    color: #20C20E;
}

.dud {
    color: #20C20E;
}

.dud:hover {
    color: #20C20E;
    text-decoration: none;
}
.spine{
    height: 100%;
    width: 100%;
    margin-right: 30%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.spine1{

    margin-top: 7%;
    margin-bottom: 30%
}