
.navbar {
    background-color: #373737;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.navbar-nav li {
    margin-right: 10px;
}

.navbar-nav li a {
    color: white;
    text-decoration: none;
    color: #e7e7e7;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-nav li a:hover {
    background-color: #333;
    color: #ba5d5d;
}
